@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

body {
  font-family: 'Alegreya Sans', sans-serif;
  overflow-x: hidden;
}

#if_studies{
  background: #3399ff;
  border-radius: 5px;
  color: white;
  opacity: .9;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #3399ff;
  opacity: .9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.7s;

}
.nav a {
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  color: white;
}
.nav a:hover {
  color: #111;
  transition: 0.4s;
}
.nav .close {
  position: absolute;
  top: 0;
  right: 22px;
  margin-left: 50px;
}
.slide a {
  color: white;
}
#container1 {
  padding: 10px;
  transition: margin-left 0.7s;
  overflow: hidden;
  width: 100%;
  
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: .5s ease;
  opacity:0;
  text-align: center;
}



div #card_banco_exercicios, #card_disciplinas, #card_simulados {
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
div .card a {
  color: white;
  opacity: .9;
}


div#icones img {
  width: 30px!important;
  height: 120px!important;
}

div #icon1, #icon2, #icon3, #icon4, #icon5, #icon6 {
  width: 120px;
  height: 120px;
}

div#icon1:hover {
  background-color: #FFE4B5;
}

div#icon2:hover {
  background-color: #F0F8FF;
}
div#icon3:hover {
  background-color: #FFF0F5;
}
div#icon4:hover {
  background-color: #F0E68C;
}
div#icon5:hover {
  background-color: #708090;
}
div#icon6:hover {
  background-color: #F4A460;
}
img#icon1:hover{
  filter: blur(5px);
}
img#icon2:hover{
  filter: blur(5px);
}
img#icon3:hover{
  filter: blur(5px);
}
img#icon4:hover{
  filter: blur(5px);
}
img#icon5:hover{
  filter: blur(5px);
}
img#icon6:hover{
  filter: blur(5px);
}

div #imagens img {
  width: 500px!important;
  height: 300px!important;
}

tr#tabela_cursos:hover{
  background-color: lightblue;
  opacity: .8;

}

#icon1:hover .overlay {
  opacity: 1;
}
#icon2:hover .overlay {
  opacity: 1;
}
#icon3:hover .overlay {
  opacity: 1;
}
#icon4:hover .overlay {
  opacity: 1;
}
#icon5:hover .overlay {
  opacity: 1;
}
#icon6:hover .overlay {
  opacity: 1;
}

.flex {
  display: flex;
}


h2 {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 1.25em;
  font-weight: normal;
}

.footer{
  text-align: center;
  background:  #3399ff;
  color: white;
  

}


#lista_disciplinas {
  background:  #3399ff;
  color: white;
  border-radius: 5px;
}

div #tabela_cursos {
  overflow: auto;
}

div #card_exercicio {
  width: 200px;
  height: 250px;
  border-radius: 15px;
  margin: auto;
}

div #card_exercicio:hover {
  background-color: #4169E1;
  color: white;

}

div #card_exercicio img{
  width: 100px;
  height: 150px;
}

div #card_exercicio_PT{
  width: 170px;
  height: 200px;
  border-radius: 10px;
  border-width: 3px;
  margin: auto;

}

div #card_exercicio_PT img{
  width: 50px;
  height: 50px;
  position: bottom;
  
}

div #card_exercicio_PT:hover {
  background-color: #4169E1;
  color: white;

}

div #card_Ano_simulado {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  text-decoration: none;
  margin: auto;
}



div #card_Ano_simulado:hover {
  background: blue;
}
div #card_Ano_simulado a:hover {
  color: white;
}

div #sobre_if {
  border-radius: 5px;
  background: #3399ff;
  color: white;

}

div #sobre_if a{
  color: white;
}

div #porcentagem_disciplina {
  border-radius: 10px;
}



