h1{
  font-family: Bodoni MT Black;
}

a#menu:hover {
  background-color: lightgreen;
  border-radius: 25px;
}

.dropdown-item:hover{
    background-color: lightgreen;
}

h4{
  text-align: center;
}

#borda{
  border-radius: 25px;
}

.footer{
  text-align: center;

}


div#imagens img {
  width: 500px!important;
  height: 300px!important;
}

div#icones img {
  width: 50px!important;
  height: 150px!important;
}

div#icon1:hover {
  background-color: #FFE4B5;
}
div#icon2:hover {
  background-color: #F0F8FF;
}
div#icon3:hover {
  background-color: #FFF0F5;
}
div#icon4:hover {
  background-color: #F0E68C;
}
div#icon5:hover {
  background-color: #708090;
}
div#icon6:hover {
  background-color: #F4A460;
}
img#icon1:hover{
  filter: blur(5px);
}
img#icon2:hover{
  filter: blur(5px);
}
img#icon3:hover{
  filter: blur(5px);
}
img#icon4:hover{
  filter: blur(5px);
}
img#icon5:hover{
  filter: blur(5px);
}
img#icon6:hover{
  filter: blur(5px);
}



tr#tabela_cursos:hover{
  background-color: lightgreen;

}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: .5s ease;
  opacity:0;
  text-align: center;
}

#icon1:hover .overlay {
  opacity: 9;
}
#icon2:hover .overlay {
  opacity: 1;
}
#icon3:hover .overlay {
  opacity: 1;
}
#icon4:hover .overlay {
  opacity: 1;
}
#icon5:hover .overlay {
  opacity: 1;
}
#icon6:hover .overlay {
  opacity: 1;
}

div#divPortugues1 {
  border-radius: 50px;
  background: #FFC1C1;
}
div#divPortugues2 {
  border-radius: 50px;
  background: #FFA07A;
}
div#divMatematica1 {
  border-radius: 50px;
  background: #A4D3EE;
}
div#divMatematica2 {
  border-radius: 50px;
  background: #6CA6CD;
}

div.card img{
  width: 190px;
  height: 200px;
}

ul#menu {
width:200px;
border:1px solid #003399;
background:#FADE8B;
margin:0;
padding:0;
list-style-type:none;
}
ul#menu li {
border-bottom:1px solid #A4A0F5;
}
ul#menu li a:link, ul#menu li a:visited {
display:block;
height:1%;
text-decoration:none;
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size:14px;
color:#5E0F50;
border-left:10px solid #EEC591;
padding-left:5px;
}
ul#menu li a:hover {
background-color: #FFE4B5;
color:#DAA520;
border-left:10px solid #FFD39B;
}


